<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Stock Market Chart</h3>
            </div>
            <div class="card-body">
                <br/>
                <br/>
                <form>
                    <div class="form-group">
                        <input type="button" value="Admin" class="btn login_btn" (click)="adminLogin()">
                        <input type="button" value="User" class="btn float-right login_btn" (click)="userLogin()">
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>